<!-- success always exists in the form of empty array 
so we have to passs success.length>0 also
-->
<%if(success && success.length){%>
<div
  class="alert alert-success alert-dismissible fade show col-6 offset-3 mt-2"
  role="alert"
>
  <%= success %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%>

<!-- for error flash
ie if we are tring to access that listing that does not exists -->
<%if(error && error.length){%>
<div
  class="alert alert-danger alert-dismissible fade show col-6 offset-3 mt-2"
  role="alert"
>
  <%= error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%>
