

<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 20px;
    padding: 0rem 1rem 0rem 1rem;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp {
    border-radius: 20px;
    /* padding: 0.5rem 3rem 0.5rem 3rem; */
  }
  .kes {
    min-width: 320px !important;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link" href="/">Home</a> -->
        <style>
          .exlpore:hover {
            color: rgb(
              234,
              54,
              54
            ) !important; /* Change the text color on hover */
          }
        </style>

        <b
          ><a class="nav-link exlpore" href="/listings" style="font-size: large"
            >Explore</a
          ></b
        >
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex">
          <input
            class="form-control me-2 search-inp kes"
            type="search"
            placeholder="Search destinations"
          />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <!-- <a
          class="nav-link"
          href="/listings/new"
          style="
            color: rgb(228, 88, 123) !important;
            font-weight: bold;
            text-decoration: none;
            border-bottom: 2px dashed rgb(228, 88, 123);
            padding-bottom: 2px;
          "
        >
          Add new Listing
        </a> -->

        <style>
          .nav-link-custom {
            color: #fe424d !important;
            font-weight: bold;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            padding-bottom: 2px;
            transition: color 0.3s, border-bottom 0.3s;
          }

          .nav-link-custom:hover {
            color: rgb(
              234,
              54,
              54
            ) !important; /* Change the text color on hover */
            border-bottom: 2px solid rgb(234, 54, 54); /* Change the underline style on hover */
          }
        </style>

        <a class="nav-link nav-link-custom" href="/listings/new">
          Add new Listing
        </a>

        <% if(!currUser){ %>
        <a class="nav-link" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
